
<footer
id="footer"
class="site-footer"
itemscope="itemscope"
itemtype="https://schema.org/WPFooter"
role="contentinfo"
>
<div id="footer-inner" class="clr">
  <div id="footer-widgets" class="oceanwp-row clr">
    <div class="footer-widgets-inner container">
      <div class="footer-box span_1_of_4 col col-1"></div>
      <!-- .footer-one-box -->

      <div class="footer-box span_1_of_4 col col-2"></div>
      <!-- .footer-one-box -->

      <div class="footer-box span_1_of_4 col col-3"></div>
      <!-- .footer-one-box -->

      <div class="footer-box span_1_of_4 col col-4"></div>
      <!-- .footer-box -->
    </div>
    <!-- .container -->
  </div>
  <!-- #footer-widgets -->

  <div id="footer-bottom" class="clr no-footer-nav">
    <div id="footer-bottom-inner" class="container clr">
      <div id="copyright" class="clr" role="contentinfo">
        © 2019 NUS-HCI Lab. All Rights Reserved.
      </div>
      <!-- #copyright -->
    </div>
    <!-- #footer-bottom-inner -->
  </div>
  <!-- #footer-bottom -->
</div>
<!-- #footer-inner -->
</footer>