
<header
id="site-header"
class="minimal-header effect-four clr"
data-height="74"
itemscope="itemscope"
itemtype="https://schema.org/WPHeader"
role="banner"
>
<div id="site-header-inner" class="clr container">
  <div
    id="site-logo"
    class="clr"
    itemscope=""
    itemtype="https://schema.org/Brand"
  >
    <div id="site-logo-inner" class="clr">
      <a
        href="https://www.synteraction.org/"
        class="custom-logo-link"
        rel="home"
        aria-current="page"
        ><img
          data-lazyloaded="1"
          src="/assets/images/cropped-742c6f87-8009-436b-9678-cd55526748d7-180x180.jpg"
          fetchpriority="high"
          width="297"
          height="312"
          data-src="/assets/images/cropped-742c6f87-8009-436b-9678-cd55526748d7-180x180.jpg"
          class="custom-logo entered litespeed-loaded"
          alt="Synteraction Lab"
          decoding="async"
          data-sizes="(max-width: 297px) 100vw, 297px"
          data-ll-status="loaded"
          sizes="(max-width: 297px) 100vw, 297px" /><noscript
          ><img
            fetchpriority="high"
            width="297"
            height="312"
            src="/assets/images/cropped-742c6f87-8009-436b-9678-cd55526748d7-180x180.jpg"
            class="custom-logo"
            alt="Synteraction Lab"
            decoding="async"
            sizes="(max-width: 297px) 100vw, 297px" /></noscript
      ></a>
    </div>
    <!-- #site-logo-inner -->
  </div>
  <!-- #site-logo -->

  <div id="site-navigation-wrap" class="no-top-border clr">
    <nav
      id="site-navigation"
      class="navigation main-navigation clr"
      itemscope="itemscope"
      itemtype="https://schema.org/SiteNavigationElement"
      role="navigation"
    >
      <ul id="menu-main-menu" class="main-menu dropdown-menu sf-menu">
        <li
          id="menu-item-176"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-161 current_page_item menu-item-176"
        >
          <a href="/" class="menu-link"
            ><span class="text-wrap">Home</span></a
          >
        </li>
        <li
          id="menu-item-6621"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6621"
        >
          <a
            href="/publications"
            class="menu-link"
            ><span class="text-wrap">Publications</span></a
          >
        </li>
        <li
          id="menu-item-6670"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6670"
        >
          <a
            href="/news"
            class="menu-link"
            ><span class="text-wrap">NEWS</span></a
          >
        </li>
        <li
          id="menu-item-187"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-187"
        >
          <a
            href="/our-team"
            class="menu-link"
            ><span class="text-wrap">People</span></a
          >
        </li>
        <li
          id="menu-item-1415"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1415"
        >
          <a
            href="/join-us"
            class="menu-link"
            ><span class="text-wrap">Join Us</span></a
          >
        </li>
        <!-- <li
          class="menu-item menu-item-gtranslate menu-item-has-children notranslate"
        >
          <a
            href="#"
            data-gt-lang="en"
            class="gt-current-wrapper notranslate glink nturl gt_raw_link-xxjexk"
            title="English"
            >English</a
          >
          <ul class="dropdown-menu sub-menu">
            <li class="menu-item menu-item-gtranslate-child">
              <a
                href="#"
                data-gt-lang="zh-CN"
                class="notranslate glink nturl gt_raw_link-xxjexk"
                >Chinese (Simplified)</a
              >
            </li>
            <li class="menu-item menu-item-gtranslate-child">
              <a
                href="#"
                data-gt-lang="en"
                class="gt-current-lang notranslate glink nturl gt_raw_link-xxjexk"
                >English</a
              >
            </li>
          </ul>
        </li>
        <li class="search-toggle-li">
          <a
            href="https://www.synteraction.org/#"
            class="site-search-toggle search-dropdown-toggle"
            ><span class="screen-reader-text"
              >Toggle website search</span
            ><i
              class="icon-magnifier"
              aria-hidden="true"
              role="img"
            ></i
          ></a>
        </li> -->
      </ul>
      <div
        id="searchform-dropdown"
        class="header-searchform-wrap clr"
      >
        <form
          aria-label="Search this website"
          role="search"
          method="get"
          class="searchform"
          action=""
        >
          <input
            aria-label="Insert search query"
            type="search"
            id="ocean-search-form-1"
            class="field"
            autocomplete="off"
            placeholder="Search"
            name="s"
          />
        </form>
      </div>
      <!-- #searchform-dropdown -->
    </nav>
    <!-- #site-navigation -->
  </div>
  <!-- #site-navigation-wrap -->

  <div class="oceanwp-mobile-menu-icon clr mobile-right">
    <a
      href="/#mobile-menu-toggle"
      class="mobile-menu"
      aria-label="Mobile Menu"
    >
      <i class="fa fa-bars" aria-hidden="true"></i>
      <span class="oceanwp-text">Menu</span>
      <span class="oceanwp-close-text">Close</span>
    </a>
  </div>
  <!-- #oceanwp-mobile-menu-navbar -->
</div>
<!-- #site-header-inner -->

<div
  id="mobile-dropdown"
  class="clr"
  style="box-sizing: border-box; display: none"
>
  <nav
    class="clr"
    itemscope="itemscope"
    itemtype="https://schema.org/SiteNavigationElement"
  >
    <ul id="menu-main-menu-1" class="menu">
      <li
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-161 current_page_item menu-item-176"
      >
        <a href="/" aria-current="page"
          >Home</a
        >
      </li>
      <li
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6621"
      >
        <a href="/publications"
          >Publications</a
        >
      </li>
      <li
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6670"
      >
        <a href="/news">NEWS</a>
      </li>
      <li
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-187"
      >
        <a href="/our-team">People</a>
      </li>
      <li
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1415"
      >
        <a href="/join-us">Join Us</a>
      </li>
      <!-- <li
        class="menu-item menu-item-gtranslate menu-item-has-children notranslate"
      >
        <a
          href="#"
          data-gt-lang="en"
          class="gt-current-wrapper notranslate glink nturl gt_raw_link-xxjexk"
          >English<span class="dropdown-toggle" tabindex="0"></span
        ></a>
        <ul class="dropdown-menu sub-menu">
          <li class="menu-item menu-item-gtranslate-child">
            <a
              href="#"
              data-gt-lang="zh-CN"
              class="notranslate glink nturl gt_raw_link-xxjexk"
              >Chinese (Simplified)</a
            >
          </li>
          <li class="menu-item menu-item-gtranslate-child">
            <a
              href="#"
              data-gt-lang="en"
              class="gt-current-lang notranslate glink nturl gt_raw_link-xxjexk"
              >English</a
            >
          </li>
        </ul>
      </li> -->
      <!-- <li class="search-toggle-li">
        <a
          href="/#"
          class="site-search-toggle search-dropdown-toggle"
          ><span class="screen-reader-text"
            >Toggle website search</span
          ><i class="icon-magnifier" aria-hidden="true" role="img"></i
        ></a>
      </li> -->
    </ul>
    <div id="mobile-menu-search" class="clr">
      <form
        aria-label="Search this website"
        method="get"
        action="/"
        class="mobile-searchform"
      >
        <input
          aria-label="Insert search query"
          value=""
          class="field"
          id="ocean-mobile-search-2"
          type="search"
          name="s"
          autocomplete="off"
          placeholder="Search"
        />
        <button
          aria-label="Submit search"
          type="submit"
          class="searchform-submit"
        >
          <i class="icon-magnifier" aria-hidden="true" role="img"></i>
        </button>
      </form>
    </div>
    <!-- .mobile-menu-search -->
  </nav>
</div>
</header>
