.social-media-container{
    .elementor-container{
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.elementor-6613{
    .elementor-element{
        &.elementor-element-3245de1b{
            padding: 30px;
        }
    }
} 

@media(max-width: 767px){
    

    footer{
        #footer-widgets{
            &.oceanwp-row{
                display: none !important;
            }
        }
    }
}