---
layout: default
---
<main id="main" class="site-main clr" role="main">
    <div
      data-elementor-type="wp-post"
      data-elementor-id="161"
      class="elementor elementor-161"
    >
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-f2e1c03 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="f2e1c03"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c8dff88"
            data-id="c8dff88"
            data-element_type="column"
          >
            <div
              class="elementor-widget-wrap elementor-element-populated e-swiper-container"
            >
              <div
                class="elementor-element elementor-element-b3d2cf5 elementor-pagination-position-outside elementor-widget elementor-widget-image-carousel e-widget-swiper"
                data-id="b3d2cf5"
                data-element_type="widget"
                data-settings='{"slides_to_show":"1","navigation":"dots","autoplay_speed":2000,"autoplay":"yes","pause_on_hover":"yes","pause_on_interaction":"yes","infinite":"yes","effect":"slide","speed":500}'
                data-widget_type="image-carousel.default"
                aria-roledescription="carousel"
                aria-label="Carousel | Horizontal scrolling: Arrow Left &amp; Right"
              >
                <div class="elementor-widget-container">
                  <style>
                    /*! elementor - v3.20.0 - 26-03-2024 */
                    .elementor-element .swiper .swiper-pagination-bullets.swiper-pagination-horizontal{
                      bottom: 60px;
                    }
                    .mySwiper{
                      height: auto;
                      overflow: hidden;
                      text-align: center;
                    }

                    .slide-image{
                      display: block;
                      max-width: 100%;
                      height: auto;
                      width: 100%;
                      margin-left: auto;
                      margin-right: auto;
                    }

                  </style>
                  <div class="mySwiper swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      {% for slide in site.data.homeSlider %}
                      <div class="swiper-slide">
                        <img src="{{ slide.image-link }}" class="slide-image"/>
                      </div>
                      {% endfor %}
                    </div>

                      <!-- If we need pagination -->
                      <div class="swiper-pagination"></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-305395f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="305395f"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61f87b8"
            data-id="61f87b8"
            data-element_type="column"
          >
            <div
              class="elementor-widget-wrap elementor-element-populated"
            >
              <div
                class="elementor-element elementor-element-e834485 elementor-drop-cap-yes elementor-drop-cap-view-default elementor-widget elementor-widget-text-editor"
                data-id="e834485"
                data-element_type="widget"
                data-settings='{"drop_cap":"yes"}'
                data-widget_type="text-editor.default"
              >
                <div class="elementor-widget-container">
                  <style>
                    /*! elementor - v3.20.0 - 26-03-2024 */
                    .elementor-widget-text-editor.elementor-drop-cap-view-stacked
                      .elementor-drop-cap {
                      background-color: #69727d;
                      color: #fff;
                    }
                    .elementor-widget-text-editor.elementor-drop-cap-view-framed
                      .elementor-drop-cap {
                      color: #69727d;
                      border: 3px solid;
                      background-color: transparent;
                    }
                    .elementor-widget-text-editor:not(
                        .elementor-drop-cap-view-default
                      )
                      .elementor-drop-cap {
                      margin-top: 8px;
                    }
                    .elementor-widget-text-editor:not(
                        .elementor-drop-cap-view-default
                      )
                      .elementor-drop-cap-letter {
                      width: 1em;
                      height: 1em;
                    }
                    .elementor-widget-text-editor .elementor-drop-cap {
                      float: left;
                      text-align: center;
                      line-height: 1;
                      font-size: 50px;
                    }
                    .elementor-widget-text-editor
                      .elementor-drop-cap-letter {
                      display: inline-block;
                    }
                  </style>
                  <p>
                    <span class="elementor-drop-cap"
                      ><span class="elementor-drop-cap-letter"
                        >T</span
                      ></span
                    ><span style="color: #333333"
                      >{{site.data.main.slider_content}}</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-8bb9464 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="8bb9464"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-647cf5a"
            data-id="647cf5a"
            data-element_type="column"
          >
            <div
              class="elementor-widget-wrap elementor-element-populated"
            >
              <div
                class="elementor-element elementor-element-92f54c2 elementor-widget elementor-widget-heading"
                data-id="92f54c2"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <style>
                    /*! elementor - v3.20.0 - 26-03-2024 */
                    .elementor-heading-title {
                      padding: 0;
                      margin: 0;
                      line-height: 1;
                    }
                    .elementor-widget-heading
                      .elementor-heading-title[class*="elementor-size-"]
                      > a {
                      color: inherit;
                      font-size: inherit;
                      line-height: inherit;
                    }
                    .elementor-widget-heading
                      .elementor-heading-title.elementor-size-small {
                      font-size: 15px;
                    }
                    .elementor-widget-heading
                      .elementor-heading-title.elementor-size-medium {
                      font-size: 19px;
                    }
                    .elementor-widget-heading
                      .elementor-heading-title.elementor-size-large {
                      font-size: 29px;
                    }
                    .elementor-widget-heading
                      .elementor-heading-title.elementor-size-xl {
                      font-size: 39px;
                    }
                    .elementor-widget-heading
                      .elementor-heading-title.elementor-size-xxl {
                      font-size: 59px;
                    }</style
                  ><span
                    class="elementor-heading-title elementor-size-default"
                    ><span
                      style="
                        font-size: 45px;
                        line-height: 1.3;
                        font-weight: 700;
                      "
                      >{{site.data.main.our_vision.heading}}
                    </span></span
                  >
                </div>
              </div>
              <div
                class="elementor-element elementor-element-12f69fb elementor-widget elementor-widget-video"
                data-id="12f69fb"
                data-element_type="widget"
                data-settings='{"hci-video","video_type":"video/mp4","controls":"yes"}'
                data-widget_type="video.default"
              >
                <div class="elementor-widget-container">
                  <style>
                    /*! elementor - v3.20.0 - 26-03-2024 */
                    .elementor-widget-video .elementor-widget-container {
                      overflow: hidden;
                      transform: translateZ(0);
                    }
                    .elementor-widget-video .elementor-wrapper {
                      aspect-ratio: var(--video-aspect-ratio);
                    }
                    .elementor-widget-video .elementor-wrapper iframe,
                    .elementor-widget-video .elementor-wrapper video {
                      height: 100%;
                      width: 100%;
                      display: flex;
                      border: none;
                      background-color: #000;
                    }
                    @supports not (aspect-ratio: 1/1) {
                      .elementor-widget-video .elementor-wrapper {
                        position: relative;
                        overflow: hidden;
                        height: 0;
                        padding-bottom: calc(
                          100% / var(--video-aspect-ratio)
                        );
                      }
                      .elementor-widget-video .elementor-wrapper iframe,
                      .elementor-widget-video .elementor-wrapper video {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                      }
                    }
                    .elementor-widget-video
                      .elementor-open-inline
                      .elementor-custom-embed-image-overlay {
                      position: absolute;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      background-size: cover;
                      background-position: 50%;
                    }
                    .elementor-widget-video
                      .elementor-custom-embed-image-overlay {
                      cursor: pointer;
                      text-align: center;
                    }
                    .elementor-widget-video
                      .elementor-custom-embed-image-overlay:hover
                      .elementor-custom-embed-play
                      i {
                      opacity: 1;
                    }
                    .elementor-widget-video
                      .elementor-custom-embed-image-overlay
                      img {
                      display: block;
                      width: 100%;
                      aspect-ratio: var(--video-aspect-ratio);
                      -o-object-fit: cover;
                      object-fit: cover;
                      -o-object-position: center center;
                      object-position: center center;
                    }
                    @supports not (aspect-ratio: 1/1) {
                      .elementor-widget-video
                        .elementor-custom-embed-image-overlay {
                        position: relative;
                        overflow: hidden;
                        height: 0;
                        padding-bottom: calc(
                          100% / var(--video-aspect-ratio)
                        );
                      }
                      .elementor-widget-video
                        .elementor-custom-embed-image-overlay
                        img {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                      }
                    }
                    .elementor-widget-video
                      .e-hosted-video
                      .elementor-video {
                      -o-object-fit: cover;
                      object-fit: cover;
                    }
                    .e-con-inner > .elementor-widget-video,
                    .e-con > .elementor-widget-video {
                      width: var(--container-widget-width);
                      --flex-grow: var(--container-widget-flex-grow);
                    }

                    #my-video{
                      height: auto;
                      min-height: 697px;
                    }

                    @media (max-width: 992px){
                      #my-video{
                        min-height: 460px;
                      }
                    }

                    @media (max-width: 767px){
                       #my-video{
                        min-height: 387px;
                      }
                    }

                    @media (max-width: 767px){
                      #my-video{
                        min-height: 387px;
                      }
                    }

                    @media (max-width: 480px){
                      #my-video{
                        min-height: 220px;
                      }
                    }
                  </style>
                  
                  <div class="intro-video-container">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video
                            id="my-video"
                            class="video-js w-100 h-100"
                            controls
                            preload="auto"
                            poster="{{ site.data.main.our_vision.image }}">
                            <source src="{{ site.data.main.our_vision.videomp4 }}" type="video/mp4" />
                            <source src="{{ site.data.main.our_vision.videowebm }}" type="video/webm" />
                            <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            </p>
                        </video>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-90d63fb elementor-widget elementor-widget-elementskit-drop-caps"
                data-id="90d63fb"
                data-element_type="widget"
                data-widget_type="elementskit-drop-caps.default"
              >
                <div class="elementor-widget-container">
                  <div class="ekit-wid-con">
                    <div class="ekit-dropcap-wraper">
                      <p class="ekit-dropcap-cotnent">
                        W<span style="color: #ffffff"
                          >{{site.data.main.our_vision.content}}</span
                        >
                        <br />
                        <span style="color: #ff6600"
                          >For more information, please check out the
                          homepage for
                          <a
                            href="https://www.nus-hci.org/heads-up-computing/"
                            target="_blank"
                            rel="noopener"
                            ><span
                              style="
                                text-decoration: underline;
                                color: #ff6600;
                              "
                              >Heads-Up computing</span
                            ></a
                          >.</span
                        >
                        <br />Read the Chinese version for
                        <a
                          href="https://www.nus-hci.org/%E5%90%88%E5%A7%BF%E8%AE%A1%E7%AE%97/"
                          target="_blank"
                          rel="noopener"
                          ><span
                            style="
                              text-decoration: underline;
                              color: #ff6600;
                            "
                            >合姿计算</span
                          ></a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-a6e707f elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="a6e707f"
        data-element_type="section"
        data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b7923a1"
            data-id="b7923a1"
            data-element_type="column"
          >
            <div
              class="elementor-widget-wrap elementor-element-populated"
            >
              <div
                class="elementor-element elementor-element-fb53050 elementor-widget elementor-widget-heading"
                data-id="fb53050"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2
                    class="elementor-heading-title elementor-size-default"
                  >
                    <span
                      style="
                        font-size: 56px;
                        line-height: 1.3;
                        font-weight: 700;
                      "
                      >NEWS</span
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-inner-section elementor-element elementor-element-fc3a75c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="fc3a75c"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-ba04115"
            data-id="ba04115"
            data-element_type="column"
          >
            <div
              class="elementor-widget-wrap elementor-element-populated"
            >
              <div
                class="elementor-element elementor-element-f7e04f6 elementor-widget elementor-widget-elementskit-blog-posts"
                data-id="f7e04f6"
                data-element_type="widget"
                data-widget_type="elementskit-blog-posts.default"
              >
                <div class="elementor-widget-container">
                  <div class="ekit-wid-con">
                    <div
                      id="post-items--f7e04f6"
                      class="row post-items"
                      data-masonry-config="true"
                      style="position: relative;"
                    >
                    
                    {% assign sorted_news = site.news | sort: 'date' | reverse %}
                    {% for post in sorted_news limit:6 %}
                      <div
                        class="col-lg-4 col-md-6"
                      >
                        <div class="elementskit-post-image-card">
                          <div class="elementskit-entry-header">
                            <a
                              href="{{ post.url | relative_url }}"
                              class="elementskit-entry-thumb"
                            >
                              <img
                                data-lazyloaded="1"
                                src="{{post.image}}"
                                decoding="async"
                                data-src="{{post.image}}"
                                alt="New Research Intern, Peilin"
                                data-ll-status="loaded"
                                class="entered litespeed-loaded"
                              /><noscript
                                ><img
                                  decoding="async"
                                  src="{{post.image}}"
                                  alt="New Research Intern, Peilin"
                              /></noscript> </a
                            ><!-- .elementskit-entry-thumb END -->
                            <div
                              class="elementskit-meta-lists elementskit-style-tag"
                            >
                              <div
                                class="elementskit-single-meta triangle_left"
                              >
                                <span class="elementskit-meta-wraper"
                                  >{% assign date_format = site.minima.date_format | default: "%b %-d,
                                  %Y" %}
                                  {{ post.date | date: date_format }}</span
                                >
                              </div>
                            </div>
                          </div>
                          <!-- .elementskit-entry-header END -->

                          <div class="elementskit-post-body">
                            <div class="post-meta-list">
                              <span class="post-cat">
                                <svg
                                  aria-hidden="true"
                                  class="e-font-icon-svg e-far-newspaper"
                                  viewBox="0 0 576 512"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M552 64H112c-20.858 0-38.643 13.377-45.248 32H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h496c13.255 0 24-10.745 24-24V88c0-13.255-10.745-24-24-24zM48 392V144h16v248c0 4.411-3.589 8-8 8s-8-3.589-8-8zm480 8H111.422c.374-2.614.578-5.283.578-8V112h416v288zM172 280h136c6.627 0 12-5.373 12-12v-96c0-6.627-5.373-12-12-12H172c-6.627 0-12 5.373-12 12v96c0 6.627 5.373 12 12 12zm28-80h80v40h-80v-40zm-40 140v-24c0-6.627 5.373-12 12-12h136c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H172c-6.627 0-12-5.373-12-12zm192 0v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12zm0-144v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12zm0 72v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12z"
                                  ></path>
                                </svg>
                                <a
                                  rel="category tag"
                                  >{{post.category}}</a
                                >
                              </span>
                            </div>

                            <h2 class="entry-title">
                              <a
                                href="{{ post.url | relative_url }}"
                              >
                                {{post.title}}
                              </a>
                            </h2>
                          </div>
                          <!-- .elementskit-post-body END -->
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-8f506e4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="8f506e4"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9fe2938"
            data-id="9fe2938"
            data-element_type="column"
          >
            <div
              class="elementor-widget-wrap elementor-element-populated"
            >
              <div
                class="elementor-element elementor-element-7c31caa elementor-align-center elementor-widget elementor-widget-button"
                data-id="7c31caa"
                data-element_type="widget"
                data-widget_type="button.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-button-wrapper">
                    <a
                      class="elementor-button elementor-button-link elementor-size-sm"
                      href="/news"
                    >
                      <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text"
                          >view history News</span
                        >
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-e8eb7b1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="e8eb7b1"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6ed6ff0"
            data-id="6ed6ff0"
            data-element_type="column"
          >
            <div
              class="elementor-widget-wrap elementor-element-populated"
            >
              <div
                class="elementor-element elementor-element-85d88e8 elementor-widget elementor-widget-image"
                data-id="85d88e8"
                data-element_type="widget"
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container" style="font-size: 30px; color: #fff; text-align: center;">
                  Synteraction Lab
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="social-media-container elementor-section elementor-top-section elementor-element elementor-element-e26b3ce elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="e26b3ce"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f0a6107"
            data-id="f0a6107"
            data-element_type="column"
          >
            <div
              class="elementor-widget-wrap elementor-element-populated"
            >
              <div
                class="elementor-element elementor-element-6862b68 elementor-view-default elementor-widget elementor-widget-icon"
                data-id="6862b68"
                data-element_type="widget"
                data-settings='{"_animation":"none"}'
                data-widget_type="icon.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-icon-wrapper">
                    <a
                      class="elementor-icon"
                      href="https://sg.linkedin.com/company/nus-hcilab"
                    >
                      <svg
                        aria-hidden="true"
                        class="e-font-icon-svg e-fab-linkedin"
                        viewBox="0 0 448 512"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e174287"
            data-id="e174287"
            data-element_type="column"
          >
            <div
              class="elementor-widget-wrap elementor-element-populated"
            >
              <div
                class="elementor-element elementor-element-781ab07 elementor-view-default elementor-widget elementor-widget-icon"
                data-id="781ab07"
                data-element_type="widget"
                data-widget_type="icon.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-icon-wrapper">
                    <a
                      class="elementor-icon"
                      href="https://www.youtube.com/user/NUSHCI"
                    >
                      <svg
                        aria-hidden="true"
                        class="e-font-icon-svg e-fab-youtube-square"
                        viewBox="0 0 448 512"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M186.8 202.1l95.2 54.1-95.2 54.1V202.1zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-42 176.3s0-59.6-7.6-88.2c-4.2-15.8-16.5-28.2-32.2-32.4C337.9 128 224 128 224 128s-113.9 0-142.2 7.7c-15.7 4.2-28 16.6-32.2 32.4-7.6 28.5-7.6 88.2-7.6 88.2s0 59.6 7.6 88.2c4.2 15.8 16.5 27.7 32.2 31.9C110.1 384 224 384 224 384s113.9 0 142.2-7.7c15.7-4.2 28-16.1 32.2-31.9 7.6-28.5 7.6-88.1 7.6-88.1z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
