---
layout: default
---

<main id="main" class="site-main clr" role="main">
  <div id="content-wrap" class="container clr">
    <div id="primary" class="content-area clr">
      <div id="content" class="site-content clr">
        <article id="post-13816" style="text-align: center; font-size: 14px;">
          <div class="thumbnail" style="
          margin: 1.5em auto;
          max-width: 1100px;">
            <img  style="
            width: 100%;"
              data-lazyloaded="1"
              src="{{page.image}}"
              data-src="{{page.image}}"
              class="attachment-full size-full wp-post-image entered litespeed-loaded"
              alt="You are currently viewing CHI ‘24 Feature: Innovating Medical Education with VR Childbirth Delivery Training"
              itemprop="image"
              decoding="async"
              data-srcset="{{page.image}} 512w, {{page.image}} 300w"
              data-sizes="(max-width: 512px) 100vw, 512px"
              data-ll-status="loaded"
              sizes="(max-width: 512px) 100vw, 512px"
            /><noscript
              ><img
                width="512"
                height="409"
                src="{{page.image}}"
                class="attachment-full size-full wp-post-image"
                alt="You are currently viewing CHI ‘24 Feature: Innovating Medical Education with VR Childbirth Delivery Training"
                itemprop="image"
                decoding="async"
                sizes="(max-width: 512px) 100vw, 512px"
            /></noscript>
          </div>
          <!-- .thumbnail -->

          <header class="entry-header clr" style="margin: 1.5em auto;max-width: 700px;">
            <h2 class="single-post-title entry-title" itemprop="headline">
              {{page.title}}
            </h2>
            <!-- .single-post-title -->
          </header>
          <!-- .entry-header -->

          <ul class="meta ospm-default clr" style="margin: 1.5em auto;max-width: 700px; text-align: center;">
            <li class="meta-author"  itemprop="name" style="padding-left: 8px; ">
              <span class="screen-reader-text">Post author:</span
              ><svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
              <a 
                href="https://www.synteraction.org/author/labadmin/"
                title="Posts by Lab Admin"
                rel="author"
                itemprop="author"
                itemscope="itemscope"
                itemtype="https://schema.org/Person"
                >{{page.role}} - </a
              >
            </li>

            <li class="meta-date" itemprop="datePublished" style="padding-left: 8px; ">
              <span class="screen-reader-text">Post published:</span
              ><svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
              {% assign date_format = site.minima.date_format | default: "%b %-d,
              %Y" %}
              {{ page.date | date: date_format }} - 
            </li>

            <li class="meta-cat" style="padding-left: 8px;">
              <span class="screen-reader-text">Post category:</span
              ><svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
              
              <a
                href="https://www.synteraction.org/category/paper-acceptance/"
                rel="category tag"
                >{{page.category}} - </a
              >
            </li>

            <li class="meta-comments" style="padding-left: 8px;">
              <span class="screen-reader-text">Post comments:</span
              ><svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
              <a
                href="https://www.synteraction.org/chi-24-feature-innovating-medical-education-with-vr-childbirth-delivery-training/#respond"
                class="comments-link"
                >0 Comments</a
              >
            </li>
          </ul>

          <div class="entry-content clr" itemprop="text" style="margin: 1.5em auto;max-width: 700px; text-align: left;">
            <p>
                {{content}}
            </p>
            <div
              style="height: 80px"
              aria-hidden="true"
              class="wp-block-spacer"
            ></div>
          </div>
          <!-- .entry -->

          <div class="post-tags clr"></div>

          <!-- #comments -->
        </article>
      </div>
      <!-- #content -->
    </div>
    <!-- #primary -->
  </div>
  <!-- #content-wrap -->
</main>
