---
layout: default
---

<main id="main" class="site-main clr team" role="main">
  <div
    data-elementor-type="wp-post"
    data-elementor-id="62"
    class="elementor elementor-62"
  >
    <section
      class="section-container elementor-section elementor-top-section elementor-element elementor-element-862f208 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle lazyloaded"
      data-id="862f208"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
      data-e-bg-lazyload=""
    >
      <div class="elementor-background-overlay"></div>
      <div class="elementor-container elementor-column-gap-default hero-container">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f50fd31"
          data-id="f50fd31"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap"></div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-f415913 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
      data-id="f415913"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-default">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2f1697b"
          data-id="2f1697b"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-7881dd9 elementor-widget elementor-widget-heading"
              data-id="7881dd9"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <style>
                  /*! elementor - v3.20.0 - 26-03-2024 */
                  .elementor-heading-title {
                    padding: 0;
                    margin: 0;
                    line-height: 1;
                  }
                  .elementor-widget-heading
                    .elementor-heading-title[class*="elementor-size-"]
                    > a {
                    color: inherit;
                    font-size: inherit;
                    line-height: inherit;
                  }
                  .elementor-widget-heading
                    .elementor-heading-title.elementor-size-small {
                    font-size: 15px;
                  }
                  .elementor-widget-heading
                    .elementor-heading-title.elementor-size-medium {
                    font-size: 19px;
                  }
                  .elementor-widget-heading
                    .elementor-heading-title.elementor-size-large {
                    font-size: 29px;
                  }
                  .elementor-widget-heading
                    .elementor-heading-title.elementor-size-xl {
                    font-size: 39px;
                  }
                  .elementor-widget-heading
                    .elementor-heading-title.elementor-size-xxl {
                    font-size: 59px;
                  }
                </style>
                <h5 class="elementor-heading-title elementor-size-default">
                  OUR TEAM
                </h5>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-7910e62 elementor-widget elementor-widget-heading"
              data-id="7910e62"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">
                  <span
                    style="font-size: 56px; line-height: 1.3; font-weight: 700"
                    >We are a team of</span
                  ><br /><span
                    style="font-size: 56px; line-height: 1.3; font-weight: 700"
                  >
                    makers, designers, hackers,
                  </span>
                  <br /><span
                    style="font-size: 56px; line-height: 1.3; font-weight: 700"
                  >
                    developers, storytellers, artists...</span
                  >
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-ce719b9 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="ce719b9"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-default">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ae4efa4"
          data-id="ae4efa4"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-b5de4f9 elementor-widget elementor-widget-heading"
              data-id="b5de4f9"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">
                  Lab Director
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-356bb53 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="356bb53"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-wide">
        <div
          class="elementor-column elementor-col-33 single-column elementor-top-column elementor-element elementor-element-c27c377"
          data-id="c27c377"
          data-element_type="column"
          data-settings='{"background_background":"classic"}'
        >
        
        {% for item in site.data.teams.lab_director %}
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-1306296 elementor-widget elementor-widget-image"
              data-id="1306296"
              data-element_type="widget"
              data-widget_type="image.default"
            >
              <div class="elementor-widget-container">
                <style>
                  /*! elementor - v3.20.0 - 26-03-2024 */
                  .elementor-widget-image {
                    text-align: center;
                  }
                  .elementor-widget-image a {
                    display: inline-block;
                  }
                  .elementor-widget-image a img[src$=".svg"] {
                    width: 48px;
                  }
                  .elementor-widget-image img {
                    vertical-align: middle;
                    display: inline-block;
                  }
                </style>
                <img
                  data-lazyloaded="1"
                  src="{{item.img}}"
                  decoding="async"
                  width="450"
                  height="374"
                  data-src="{{item.img}}"
                  class="attachment-large size-large wp-image-4863 entered litespeed-loaded"
                  alt=""
                  data-sizes="(max-width: 450px) 100vw, 450px"
                  data-ll-status="loaded"
                  sizes="(max-width: 450px) 100vw, 450px"
                /><noscript
                  ><img
                    decoding="async"
                    width="450"
                    height="374"
                    src="{{item.img}}"
                    class="attachment-large size-large wp-image-4863"
                    alt=""
                    sizes="(max-width: 450px) 100vw, 450px"
                /></noscript>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-51fd591 elementor-widget elementor-widget-heading"
              data-id="51fd591"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h4 class="elementor-heading-title elementor-size-default">
                  {{item.name}}
                </h4>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-e7a3280 elementor-widget elementor-widget-text-editor"
              data-id="e7a3280"
              data-element_type="widget"
              data-widget_type="text-editor.default"
            >
              <div class="elementor-widget-container">
                <style>
                  /*! elementor - v3.20.0 - 26-03-2024 */
                  .elementor-widget-text-editor.elementor-drop-cap-view-stacked
                    .elementor-drop-cap {
                    background-color: #69727d;
                    color: #fff;
                  }
                  .elementor-widget-text-editor.elementor-drop-cap-view-framed
                    .elementor-drop-cap {
                    color: #69727d;
                    border: 3px solid;
                    background-color: transparent;
                  }
                  .elementor-widget-text-editor:not(
                      .elementor-drop-cap-view-default
                    )
                    .elementor-drop-cap {
                    margin-top: 8px;
                  }
                  .elementor-widget-text-editor:not(
                      .elementor-drop-cap-view-default
                    )
                    .elementor-drop-cap-letter {
                    width: 1em;
                    height: 1em;
                  }
                  .elementor-widget-text-editor .elementor-drop-cap {
                    float: left;
                    text-align: center;
                    line-height: 1;
                    font-size: 50px;
                  }
                  .elementor-widget-text-editor .elementor-drop-cap-letter {
                    display: inline-block;
                  }
                </style>
                <p style="text-align: center">
                  <em><strong>{{item.study}}</strong></em>
                </p>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-67a5354 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
              data-id="67a5354"
              data-element_type="widget"
              data-widget_type="icon-list.default"
            >
              <div class="elementor-widget-container">
                <ul class="elementor-icon-list-items">
                  <li class="elementor-icon-list-item">
                    <a href="mailto:zhaosd@comp.nus.edu.sg">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-envelope"
                          viewBox="0 0 512 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text"
                        >{{item.email}}</span
                      >
                    </a>
                  </li>
                  <li class="elementor-icon-list-item">
                    <a href="{{item.link}}" target="_blank">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-home"
                          viewBox="0 0 576 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text"
                        >{{item.website}}</span
                      >
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <div
          class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d66188a"
          data-id="d66188a"
          data-element_type="column"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-widget-wrap"></div>
        </div>
        <div
          class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0ee2a79"
          data-id="0ee2a79"
          data-element_type="column"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-widget-wrap"></div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-984190a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
      data-id="984190a"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-default">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0c88eff"
          data-id="0c88eff"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-b3cf564 elementor-widget elementor-widget-spacer"
              data-id="b3cf564"
              data-element_type="widget"
              data-widget_type="spacer.default"
            >
              <div class="elementor-widget-container">
                <style>
                  /*! elementor - v3.20.0 - 26-03-2024 */
                  .elementor-column .elementor-spacer-inner {
                    height: var(--spacer-size);
                  }
                  .e-con {
                    --container-widget-width: 100%;
                  }
                  .e-con-inner > .elementor-widget-spacer,
                  .e-con > .elementor-widget-spacer {
                    width: var(--container-widget-width, var(--spacer-size));
                    --align-self: var(--container-widget-align-self, initial);
                    --flex-shrink: 0;
                  }
                  .e-con-inner
                    > .elementor-widget-spacer
                    > .elementor-widget-container,
                  .e-con
                    > .elementor-widget-spacer
                    > .elementor-widget-container {
                    height: 100%;
                    width: 100%;
                  }
                  .e-con-inner
                    > .elementor-widget-spacer
                    > .elementor-widget-container
                    > .elementor-spacer,
                  .e-con
                    > .elementor-widget-spacer
                    > .elementor-widget-container
                    > .elementor-spacer {
                    height: 100%;
                  }
                  .e-con-inner
                    > .elementor-widget-spacer
                    > .elementor-widget-container
                    > .elementor-spacer
                    > .elementor-spacer-inner,
                  .e-con
                    > .elementor-widget-spacer
                    > .elementor-widget-container
                    > .elementor-spacer
                    > .elementor-spacer-inner {
                    height: var(--container-widget-height, var(--spacer-size));
                  }
                  .e-con-inner
                    > .elementor-widget-spacer.elementor-widget-empty,
                  .e-con > .elementor-widget-spacer.elementor-widget-empty {
                    position: relative;
                    min-height: 22px;
                    min-width: 22px;
                  }
                  .e-con-inner
                    > .elementor-widget-spacer.elementor-widget-empty
                    .elementor-widget-empty-icon,
                  .e-con
                    > .elementor-widget-spacer.elementor-widget-empty
                    .elementor-widget-empty-icon {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    padding: 0;
                    width: 22px;
                    height: 22px;
                  }
                </style>
                <div class="elementor-spacer">
                  <div class="elementor-spacer-inner"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Current Members Section -->

    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-d0a86cd elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="d0a86cd"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-default">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f31ef4b"
          data-id="f31ef4b"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-3173be2 elementor-widget elementor-widget-heading"
              data-id="3173be2"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default">
                  Current Members
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-7814227 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="7814227"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-default">
        {% for item in site.data.teams.current_members %}
        <div
          class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6b6512b"
          data-id="6b6512b"
          data-element_type="column"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-6c97bd8 elementor-widget elementor-widget-image"
              data-id="6c97bd8"
              data-element_type="widget"
              data-widget_type="image.default"
            >
              <div class="elementor-widget-container">
                <img
                  data-lazyloaded="1"
                  src="{{item.img}}"
                  decoding="async"
                  width="768"
                  height="564"
                  data-src="{{item.img}}"
                  class="attachment-large size-large wp-image-4869 entered litespeed-loaded"
                  alt=""
                  data-sizes="(max-width: 768px) 100vw, 768px"
                  data-ll-status="loaded"
                  sizes="(max-width: 768px) 100vw, 768px"
                /><noscript
                  ><img
                    decoding="async"
                    width="768"
                    height="564"
                    src="{{item.img}}"
                    class="attachment-large size-large wp-image-4869"
                    alt=""
                    sizes="(max-width: 768px) 100vw, 768px"
                /></noscript>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-a09c814 elementor-widget elementor-widget-heading"
              data-id="a09c814"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h4 class="elementor-heading-title elementor-size-default">
                  {{item.name}}
                </h4>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-0ab6c98 elementor-widget elementor-widget-text-editor"
              data-id="0ab6c98"
              data-element_type="widget"
              data-widget_type="text-editor.default"
            >
              <div class="elementor-widget-container">
                <p style="text-align: center">
                  <em><strong>{{item.study}}</strong></em>
                </p>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-24f60f1 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
              data-id="24f60f1"
              data-element_type="widget"
              data-widget_type="icon-list.default"
            >
              <div class="elementor-widget-container">
                <ul class="elementor-icon-list-items">
                  
                  {% if item.website %}
                  <li class="elementor-icon-list-item">
                    <a href="mailto:hckim0911@gmail.com">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-envelope"
                          viewBox="0 0 512 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text"
                        >{{item.email}}</span
                      >
                    </a>
                  </li>
                  {% endif %}
                  {% if item.website %}
                  <li class="elementor-icon-list-item">
                    <a href="{{item.link}}" target="_blank">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-home"
                          viewBox="0 0 576 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text">{{item.website}}</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- Interns & Visiting Researchers Section -->

    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-d0a86cd elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="d0a86cd"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-default">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f31ef4b"
          data-id="f31ef4b"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-3173be2 elementor-widget elementor-widget-heading"
              data-id="3173be2"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default">
                  Interns & Visiting Researchers
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-7814227 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="7814227"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-default">
        {% for item in site.data.teams.interns_and_visiting_researchers %}
        <div
          class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6b6512b"
          data-id="6b6512b"
          data-element_type="column"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-6c97bd8 elementor-widget elementor-widget-image"
              data-id="6c97bd8"
              data-element_type="widget"
              data-widget_type="image.default"
            >
              <div class="elementor-widget-container">
                <img
                  data-lazyloaded="1"
                  src="{{item.img}}"
                  decoding="async"
                  width="768"
                  height="564"
                  data-src="{{item.img}}"
                  class="attachment-large size-large wp-image-4869 entered litespeed-loaded"
                  alt=""
                  data-sizes="(max-width: 768px) 100vw, 768px"
                  data-ll-status="loaded"
                  sizes="(max-width: 768px) 100vw, 768px"
                /><noscript
                  ><img
                    decoding="async"
                    width="768"
                    height="564"
                    src="{{item.img}}"
                    class="attachment-large size-large wp-image-4869"
                    alt=""
                    sizes="(max-width: 768px) 100vw, 768px"
                /></noscript>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-a09c814 elementor-widget elementor-widget-heading"
              data-id="a09c814"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h4 class="elementor-heading-title elementor-size-default">
                  {{item.name}}
                </h4>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-0ab6c98 elementor-widget elementor-widget-text-editor"
              data-id="0ab6c98"
              data-element_type="widget"
              data-widget_type="text-editor.default"
            >
              <div class="elementor-widget-container">
                <p style="text-align: center">
                  <em><strong>{{item.study}}</strong></em>
                </p>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-24f60f1 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
              data-id="24f60f1"
              data-element_type="widget"
              data-widget_type="icon-list.default"
            >
              <div class="elementor-widget-container">
                <ul class="elementor-icon-list-items">
                  
                  {% if item.website %}
                  <li class="elementor-icon-list-item">
                    <a href="mailto:hckim0911@gmail.com">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-envelope"
                          viewBox="0 0 512 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text"
                        >{{item.email}}</span
                      >
                    </a>
                  </li>
                  {% endif %}
                  {% if item.website %}
                  <li class="elementor-icon-list-item">
                    <a href="{{item.link}}" target="_blank">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-home"
                          viewBox="0 0 576 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text">{{item.website}}</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- Graduated Ph.D Students Section -->

    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-b661609 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="b661609"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-default">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5d8e42e"
          data-id="5d8e42e"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-ed3f8e0 elementor-widget elementor-widget-heading"
              data-id="ed3f8e0"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default">
                  Graduated Ph.D Students
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-2bd1c8a elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="2bd1c8a"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-wide">
        
        {% for item in site.data.teams.graduated_phd_students %}
        <div
          class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-e322f8c"
          data-id="e322f8c"
          data-element_type="column"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-6807fe6 elementor-widget elementor-widget-image"
              data-id="6807fe6"
              data-element_type="widget"
              data-widget_type="image.default"
            >
              <div class="elementor-widget-container">
                <img
                  data-lazyloaded="1"
                  src="{{item.img}}"
                  loading="lazy"
                  decoding="async"
                  width="1000"
                  height="750"
                  data-src="{{item.img}}"
                  class="attachment-large size-large wp-image-4489"
                  alt=""
                  data-sizes="(max-width: 1000px) 100vw, 1000px"
                /><noscript
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="1000"
                    height="750"
                    src="{{item.img}}"
                    class="attachment-large size-large wp-image-4489"
                    alt=""
                    sizes="(max-width: 1000px) 100vw, 1000px"
                /></noscript>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-352ca37 elementor-widget elementor-widget-heading"
              data-id="352ca37"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h4 class="elementor-heading-title elementor-size-default">
                  Yu Chen
                </h4>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-b17b0ca elementor-widget elementor-widget-heading"
              data-id="b17b0ca"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h5 class="elementor-heading-title elementor-size-default">
                  -
                </h5>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-0b737ca elementor-widget elementor-widget-text-editor"
              data-id="0b737ca"
              data-element_type="widget"
              data-widget_type="text-editor.default"
            >
              <div class="elementor-widget-container">
                <p style="text-align: center">
                  <em><strong>Graduated Master Student ’22</strong></em>
                </p>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-86957f7 elementor-icon-list--layout-inline elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
              data-id="86957f7"
              data-element_type="widget"
              data-widget_type="icon-list.default"
            >
              <div class="elementor-widget-container">
                <ul class="elementor-icon-list-items elementor-inline-items">
                  <li class="elementor-icon-list-item elementor-inline-item">
                    <a href="mailto:deemolover7385@gmail.com">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-envelope"
                          viewBox="0 0 512 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text"
                        >deemolover7385@gmail.com</span
                      >
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-5f27d9a elementor-widget elementor-widget-text-editor"
              data-id="5f27d9a"
              data-element_type="widget"
              data-widget_type="text-editor.default"
            >
              <div class="elementor-widget-container"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    
    <!-- Graduated Master Students Section -->

    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-b661609 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="b661609"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-default">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5d8e42e"
          data-id="5d8e42e"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-ed3f8e0 elementor-widget elementor-widget-heading"
              data-id="ed3f8e0"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default">
                  Graduated Master Students
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-2bd1c8a elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="2bd1c8a"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-wide">
        
        {% for item in site.data.teams.graduated_master_students %}
        <div
          class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-e322f8c"
          data-id="e322f8c"
          data-element_type="column"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-6807fe6 elementor-widget elementor-widget-image"
              data-id="6807fe6"
              data-element_type="widget"
              data-widget_type="image.default"
            >
              <div class="elementor-widget-container">
                <img
                  data-lazyloaded="1"
                  src="{{item.img}}"
                  loading="lazy"
                  decoding="async"
                  width="1000"
                  height="750"
                  data-src="{{item.img}}"
                  class="attachment-large size-large wp-image-4489"
                  alt=""
                  data-sizes="(max-width: 1000px) 100vw, 1000px"
                /><noscript
                  ><img
                    loading="lazy"
                    decoding="async"
                    width="1000"
                    height="750"
                    src="{{item.img}}"
                    class="attachment-large size-large wp-image-4489"
                    alt=""
                    sizes="(max-width: 1000px) 100vw, 1000px"
                /></noscript>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-352ca37 elementor-widget elementor-widget-heading"
              data-id="352ca37"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h4 class="elementor-heading-title elementor-size-default">
                  Yu Chen
                </h4>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-b17b0ca elementor-widget elementor-widget-heading"
              data-id="b17b0ca"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h5 class="elementor-heading-title elementor-size-default">
                  -
                </h5>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-0b737ca elementor-widget elementor-widget-text-editor"
              data-id="0b737ca"
              data-element_type="widget"
              data-widget_type="text-editor.default"
            >
              <div class="elementor-widget-container">
                <p style="text-align: center">
                  <em><strong>Graduated Master Student ’22</strong></em>
                </p>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-86957f7 elementor-icon-list--layout-inline elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
              data-id="86957f7"
              data-element_type="widget"
              data-widget_type="icon-list.default"
            >
              <div class="elementor-widget-container">
                <ul class="elementor-icon-list-items elementor-inline-items">
                  <li class="elementor-icon-list-item elementor-inline-item">
                    <a href="mailto:deemolover7385@gmail.com">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-envelope"
                          viewBox="0 0 512 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text"
                        >deemolover7385@gmail.com</span
                      >
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-5f27d9a elementor-widget elementor-widget-text-editor"
              data-id="5f27d9a"
              data-element_type="widget"
              data-widget_type="text-editor.default"
            >
              <div class="elementor-widget-container"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    
    <!-- Alumni Section -->

    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-0fc3b23 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="0fc3b23"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-default">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-998173f"
          data-id="998173f"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-f6ad1bc elementor-widget elementor-widget-heading"
              data-id="f6ad1bc"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h3 class="elementor-heading-title elementor-size-default">
                  Alumni
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-1f06bce elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="1f06bce"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-wide">
        
        {% for item in site.data.teams.alumni %}
        <div
          class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-f8580be"
          data-id="f8580be"
          data-element_type="column"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-3776a58 elementor-widget elementor-widget-heading"
              data-id="3776a58"
              data-element_type="widget"
              data-widget_type="heading.default"
            >
              <div class="elementor-widget-container">
                <h4 class="elementor-heading-title elementor-size-default">
                  {{item.name}}
                </h4>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-29cd59e elementor-widget elementor-widget-text-editor"
              data-id="29cd59e"
              data-element_type="widget"
              data-widget_type="text-editor.default"
            >
              <div class="elementor-widget-container">
                <p style="text-align: left">
                  <em
                    ><strong>{{item.intern}}<br /></strong
                  ></em>
                </p>
              </div>
            </div>
            {% if item.email %}
            <div
              class="elementor-element elementor-element-d3e2be3 elementor-icon-list--layout-inline elementor-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
              data-id="d3e2be3"
              data-element_type="widget"
              data-widget_type="icon-list.default"
            >
              <div class="elementor-widget-container">
                <ul class="elementor-icon-list-items elementor-inline-items">
                  <li class="elementor-icon-list-item elementor-inline-item">
                    <a href="mailto:awshaikh_b21@me.vjti.ac.in">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-envelope"
                          viewBox="0 0 512 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text"
                        >{{item.email}}</span
                      >
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

  </div>
</main>
